.bg-primary {
    background-color: #323237;
}

.bg-primary-dark {
    background-color: #2d2d32;
}

.bg-accent {}

.bg-white {
    background-color: #fff;
}

.primary {}

.accent {}

.white {
    color: #fff;
}

.light-grey {
    color: #646972;
}
