.bd {
    border: 1px solid #e4e4e4;
}

.bd-right {
    border-width: 0;
    border-right: 1px solid #e4e4e4;
}

.bd-dashed {
    border-style: dashed;
}

.bg-primary {
    background-color: #323237;
}

.bg-primary-dark {
    background-color: #2d2d32;
}

.bg-accent {}

.bg-grey-light {
    background-color: #e4e4e4;
}

.bg-white {
    background-color: #fff;
}

.primary {}

.accent {}

.white {
    color: #fff;
}

.light-grey {
    color: #646972;
}

.grey-light {
    color: #646972;
}

.link {
    color: #2838ff;
}

.danger {
    color:#F55753;
}
