.btn {
    cursor: pointer;
    padding: 6px 17px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    color: #333;
    background-color: #fafafa;
    border-color: rgba(87, 87, 87, 0.27);
}

.btn.btn-primary {
    color: #fff;
    background-color: #6d5eac;
}

.btn.btn-primary:hover {
    background-color: #8a7ebd;
}

.label {
    font-size: 0.787rem;
    text-transform: uppercase;
}

.form-control {
    width: 100%;
    padding: 7px 12px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
}

.form-control:focus {
    outline: none;
    background-color: #e4e4e4;
}
