.col-1-12 {
    width: 8.3333%;
    -ms-flex-preferred-size: 8.3333%;
    flex-basis: 8.3333%
}

.col-2-12 {
    width: 16.6667%;
    -ms-flex-preferred-size: 16.6667%;
    flex-basis: 16.6667%;
}

.col-3-12 {
    width: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}

.col-4-12 {
    width: 33.3333%;
    -ms-flex-preferred-size: 33.3333%;
    flex-basis: 33.3333%;
}

.col-5-12 {
    width: 41.6667%;
    -ms-flex-preferred-size: 41.6667%;
    flex-basis: 41.6667%;
}

.col-6-12 {
    width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.col-7-12 {
    width: 58.3333%;
    -ms-flex-preferred-size: 58.3333%;
    flex-basis: 58.3333%;
}

.col-8-12 {
    width: 66.6667%;
    -ms-flex-preferred-size: 66.6667%;
    flex-basis: 66.6667%;
}

.col-9-12 {
    width: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
}

.col-10-12 {
    width: 83.3333%;
    -ms-flex-preferred-size: 83.3333%;
    flex-basis: 83.3333%;
}

.col-11-12 {
    width: 91.6667%;
    -ms-flex-preferred-size: 91.6667%;
    flex-basis: 91.6667%;
}

.col-12-12 {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

@media screen and (min-width: 35.5em) {
    .col-xs-1-12 {
        width: 8.3333%;
        -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
    }
    .col-xs-2-12 {
        width: 16.6667%;
        -ms-flex-preferred-size: 16.6667%;
        flex-basis: 16.6667%;
    }
    .col-xs-3-12 {
        width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .col-xs-4-12 {
        width: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
    }
    .col-xs-5-12 {
        width: 41.6667%;
        -ms-flex-preferred-size: 41.6667%;
        flex-basis: 41.6667%;
    }
    .col-xs-6-12 {
        width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .col-xs-7-12 {
        width: 58.3333%;
        -ms-flex-preferred-size: 58.3333%;
        flex-basis: 58.3333%;
    }
    .col-xs-8-12 {
        width: 66.6667%;
        -ms-flex-preferred-size: 66.6667%;
        flex-basis: 66.6667%;
    }
    .col-xs-9-12 {
        width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .col-xs-10-12 {
        width: 83.3333%;
        -ms-flex-preferred-size: 83.3333%;
        flex-basis: 83.3333%;
    }
    .col-xs-11-12 {
        width: 91.6667%;
        -ms-flex-preferred-size: 91.6667%;
        flex-basis: 91.6667%;
    }
    .col-xs-12-12 {
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media screen and (min-width: 48em) {
    .col-sm-1-12 {
        width: 8.3333%;
        -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
    }
    .col-sm-2-12 {
        width: 16.6667%;
        -ms-flex-preferred-size: 16.6667%;
        flex-basis: 16.6667%;
    }
    .col-sm-3-12 {
        width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .col-sm-4-12 {
        width: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
    }
    .col-sm-5-12 {
        width: 41.6667%;
        -ms-flex-preferred-size: 41.6667%;
        flex-basis: 41.6667%;
    }
    .col-sm-6-12 {
        width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .col-sm-7-12 {
        width: 58.3333%;
        -ms-flex-preferred-size: 58.3333%;
        flex-basis: 58.3333%;
    }
    .col-sm-8-12 {
        width: 66.6667%;
        -ms-flex-preferred-size: 66.6667%;
        flex-basis: 66.6667%;
    }
    .col-sm-9-12 {
        width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .col-sm-10-12 {
        width: 83.3333%;
        -ms-flex-preferred-size: 83.3333%;
        flex-basis: 83.3333%;
    }
    .col-sm-11-12 {
        width: 91.6667%;
        -ms-flex-preferred-size: 91.6667%;
        flex-basis: 91.6667%;
    }
    .col-sm-12-12 {
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media screen and (min-width: 64em) {
    .col-md-1-12 {
        width: 8.3333%;
        -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
    }
    .col-md-2-12 {
        width: 16.6667%;
        -ms-flex-preferred-size: 16.6667%;
        flex-basis: 16.6667%;
    }
    .col-md-3-12 {
        width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .col-md-4-12 {
        width: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
    }
    .col-md-5-12 {
        width: 41.6667%;
        -ms-flex-preferred-size: 41.6667%;
        flex-basis: 41.6667%;
    }
    .col-md-6-12 {
        width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .col-md-7-12 {
        width: 58.3333%;
        -ms-flex-preferred-size: 58.3333%;
        flex-basis: 58.3333%;
    }
    .col-md-8-12 {
        width: 66.6667%;
        -ms-flex-preferred-size: 66.6667%;
        flex-basis: 66.6667%;
    }
    .col-md-9-12 {
        width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .col-md-10-12 {
        width: 83.3333%;
        -ms-flex-preferred-size: 83.3333%;
        flex-basis: 83.3333%;
    }
    .col-md-11-12 {
        width: 91.6667%;
        -ms-flex-preferred-size: 91.6667%;
        flex-basis: 91.6667%;
    }
    .col-md-12-12 {
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media screen and (min-width: 80em) {
    .col-lg-1-12 {
        width: 8.3333%;
        -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
    }
    .col-lg-2-12 {
        width: 16.6667%;
        -ms-flex-preferred-size: 16.6667%;
        flex-basis: 16.6667%;
    }
    .col-lg-3-12 {
        width: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .col-lg-4-12 {
        width: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
    }
    .col-lg-5-12 {
        width: 41.6667%;
        -ms-flex-preferred-size: 41.6667%;
        flex-basis: 41.6667%;
    }
    .col-lg-6-12 {
        width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .col-lg-7-12 {
        width: 58.3333%;
        -ms-flex-preferred-size: 58.3333%;
        flex-basis: 58.3333%;
    }
    .col-lg-8-12 {
        width: 66.6667%;
        -ms-flex-preferred-size: 66.6667%;
        flex-basis: 66.6667%;
    }
    .col-lg-9-12 {
        width: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    }
    .col-lg-10-12 {
        width: 83.3333%;
        -ms-flex-preferred-size: 83.3333%;
        flex-basis: 83.3333%;
    }
    .col-lg-11-12 {
        width: 91.6667%;
        -ms-flex-preferred-size: 91.6667%;
        flex-basis: 91.6667%;
    }
    .col-lg-12-12 {
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}
