.toast {
    color: #fff;
    right: 50px;
    z-index: 20;
    bottom: 50px;
    padding: 15px;
    max-width: 30%;
    position: fixed;
    border-radius: 2px;
    padding-right: 55px;
    background-color: #4e4e4e;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.toast>.remove {
    top: 0;
    right: 0;
    bottom: 0;
    content: "X";
    padding: 15px;
    cursor: pointer;
    position: absolute;
    border-left: 1px solid #6a6a6a;
}

@media screen and (max-width: 48em) {
    max-width: 100px;
    bottom: 0;
}
